name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main,dev]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        node-version: [20.x]
        os: [macos-latest]

    steps:
      - name: Setup Repo
        uses: actions/checkout@v5

      - name: Uses node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install all workspaces
        run: yarn install --immutable

      - name: Seutp workspaces
        run: yarn workspaces foreach run compile

      - name: Lint
        run: yarn workspaces foreach run lint

      - name: Test
        run: yarn workspaces foreach run test
